@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
*{
	margin:0;
	padding:0;
	text-decoration:none;
	color:inherit;
	font-family: 'VT323', monospace;
}

body{
	background-image: url('res/noize.gif');
	background-color: rgba(0, 0, 0, 0.9);
	background-blend-mode: overlay;
}

.wrap{
	width: 90%;
	margin: auto;
}

.wrap .col{
	margin: 20px auto;
}

.wrap .col .logo, .wrap .col .logo::before{
	position: relative;
	width: 300px;
	height: 300px;
	margin: auto;

	background-image: url('res/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.wrap .col .title{
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: white;
}

.wrap .col .button{
	width: 120px;
	padding: 10px 5px;
	margin: 10px auto;
	display: block;
	text-align: center;
	font-size: 25px;
	color: black;
	background: #c70600;
}

.wrap .col .logo::before{
	position: absolute;
	content: ' ';
	
	z-index: -1;

	background-image: url('res/logoback.png');
	animation: pulse 1s ease-in-out 0.5s infinite;
}

.wrap .col .angeed, .wrap .col .angeed .slide{
	width: 300px;
	height: 500px;
	margin: auto;
	display: flex;

	position: relative;

	transition: 0.5s;
}

.wrap .col .angeed .slide{
	position: absolute;
	outline: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	z-index: -1;
}

.wrap .col .angeed #slide_1_0{
	background-image: url(res/screenshots/1.png);
}

.wrap .col .angeed #slide_1_1{
	background-image: url(res/screenshots/2.png);
}

.wrap .col .angeed #slide_1_2{
	background-image: url(res/screenshots/3.png);
}

.wrap .col .angeed #slide_2_0{
	background-image: url(res/screenshots/h1.png);
}

.wrap .col .angeed #slide_2_1{
	background-image: url(res/screenshots/h2.png);
}

.wrap .col .angeed #slide_2_2{
	background-image: url(res/screenshots/h3.png);
}

.wrap .col .angeed .control{
	width: 50%;
	height: 500px;
	text-align: center;
	font-size: 200px;
	line-height: 500px;
	color: rgba(255, 255, 255, 0.2);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.wrap .col .angeed .slide p{
	position: absolute;
	bottom: 0;
	font-size: 40px;
	color: black;
	background: rgba(255, 255, 255, 0.5);
}

.wrap .col .angeed .slide .small{
	font-size: 30px;
	vertical-align: middle;
	line-height: 40px;
}

.wrap .col .angeed .slide .any{
	line-height: 30px;
}

@media screen and (min-width: 900px) {
	.wrap {
		position: absolute;
		perspective: 1000px;
		transform-style: preserve-3d;

		max-width: 1600px;
		max-height: 700px;
		left: 0;
		right: 0;
		top:50px;
		bottom: 0;
		margin: auto;
	}
	.wrap .to_absolute{
		position: absolute;
		top:0;
		left: 0;
		transform: rotateY(25deg);
	}
	.wrap .to_absolute:nth-child(2){
		left: auto;
		right: 0;
		transform: rotateY(-25deg);
	}
}

@keyframes pulse{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.05);
	}
	100%{
		transform: scale(1);
	}
}
